.Clock {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(7, 31, 63);
  color: white;
  padding: 3rem;
  z-index: 2;
  top:590px;
}
.time {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 4px solid rgb(0, 247, 255);
  border-radius: 50%;
  margin: 1rem;
}
#heading {
  display: inline-block;
  font-size: 2.75rem;
  margin-right: 6rem;
  position: relative;
  bottom: 1.25rem;
  color: wheat;
}
#notation {
  margin-top: 0.75rem;
}
#value {
  margin-bottom: 0.75rem;
  position: relative;
  right: 2rem;
  padding-top: 2rem;
}
.time h1{
  color: bisque;
}